<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" width="150" class="center" />
          <br>
        
        {% endif %}


        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        <hr>

        > <a href=".">Home</a>
        <br>
        > <a href="./topics.html">Topics</a>
        <br>
        > <a href="./aboutiordan.html">About</a>
        <br>
        > <a href="./pricing.html">Pricing</a>
        <br>
        > <a href="./reviews.html">Reviews</a>
        <br>
        > <a href="./faqs.html">FAQs</a>
        <br>
        <br>
        <hr>
        <p>Contact:<br>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        <hr>

      </header>

      <section>

      {{ content }}

      </section>
      
      <footer>
  
 
        <!-- {% if site.github.is_project_page %}
        <p><small>This site is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</small></a></p>
        {% endif %} -->
        <p><small>Hosted on GitHub Pages with the <a href="https://github.com/pages-themes/minimal">Minimal Theme</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

    <!-- <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> -->

  </body>

</html>
